@import '../../scss/variables.scss';

.app-header {
  background-color: $white !important;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  .header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user-info {
      display: flex;
      align-items: center;
      .icon-avatar {
        margin-right: 10px;
      }
    }
  }
}
