.App {
  min-height: 100vh;
  text-align: center;
}

.layout {
  min-height: 100vh;
  &-public {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .private-content {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 50px 70px;
  }
}
